/* ========================================
   CONTACTS PAGE
   ======================================== */


/* Contacts Hero Section */

.contacts-hero {
    width: 100%;
    max-width: 1440px;
    height: 533px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/background_auto_contacts.svg");
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

.contacts-hero__content {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.contacts-hero .contacts__title {
    /* margin-top: 30px; */
    margin-bottom: 20px;
}


/* Contacts Section */

.contacts {
    width: 100%;
    max-width: 1440px;
}

.contacts__content {
    margin-bottom: 40px;
}

.contacts__title {
    width: 298px;
    height: 64px;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}

.contacts__heading {
    font-weight: 500;
    font-size: 48px;
}


/* Contacts List */

.contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: SpectralSC, sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    white-space: nowrap;
}

.contacts__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.contacts__text {
    font-size: 48px;
    color: #FFFFFF;
    font-family: SpectralSC, sans-serif;
    white-space: nowrap;
}