/* ========================================
   MAIN CONTENT / HERO SECTION
   ======================================== */

.cover {
    width: 1440px;
    height: 770px;
    background-image: url("/images/auto.png");
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.greeting {
    width: 876px;
    height: 49px;
    margin: 0 auto;
    text-align: center;
}

.name {
    font-size: 50px;
    font-weight: 500;
}

.cover__text {
    font-family: SpectralSC, sans-serif;
}

.slogan {
    width: 1069px;
    height: 69px;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 512px;
}

